h1 {
    text-align: center;  

    margin: 3rem auto;
    font-family: 'Lucida Sans', sans-serif;
}



.container{
  margin: auto 10%;
  justify-content: center;
  line-height: 1.5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr auto; /* Texto ocupa espaço restante, imagem com tamanho automático */
  background-color: #85A887;
  border-radius: 6px;
  padding: 2rem;

}

.container input{
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid gray;
  border-radius: 2.5px;
  outline: none;
}

.container label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  width: fit-content;
  text-align: right;
  margin-right: 10px;
  font-size: 12px;
  font-weight: bold;

}




.container input[type="submit"]{
  width: 100px;
  background-color: slateblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-bottom: none;
  


}
.container input[type="submit"]:hover{
  background-color: darkslateblue;
  transition: all 0.3s ease-in-out;
}


.container input[type="submit"]:focus:hover{
  border-bottom: none;
}

.container input[type="submit"]:not(:focus){
  border-bottom: none;
}

.container input:focus~.onHover{
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid darkslateblue;

}
.container input:not(:focus){
  transition: all 0.5s ease-out;
  border-bottom: 2px solid gray;
}

