h1 {
    text-align: center;  
    transition: all 0.5s ease-in-out;
    margin: 3rem auto;
    font-family: 'Lucida Sans', sans-serif;
}



.container{
  margin: auto 10%;
  width: 80%;
  line-height: 1.5rem;
  text-align: center;
  grid-template-columns: 1fr auto; /* Texto ocupa espaço restante, imagem com tamanho automático */
  background-color: #f0f4f0d5;
  border-radius: 6px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;

  display: flex;              /* Mude de grid para flex */
  flex-direction: column;     /* Organiza em coluna */
  justify-content: center;    /* Centraliza verticalmente */
  align-items: center;        /* Centraliza horizontalmente */
}

/* ESTILO PARA O FORM DENTRO DO CONTAINER */
.container form {
  width: 100%;
  max-width: 400px;           /* Largura máxima para o formulário */
}

.container input{
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid gray;
  border-radius: 2.5px;
  outline: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;     /* Label acima do input */
  width: 100%;
}

.container label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: left;           /* Alinha à esquerda */
  margin-bottom: 0.5rem;      /* Espaço entre label e input */
  color: #333;
  display: flex;
  padding-left: 0.5rem;
  flex-direction: column; 
}



.container input[type="submit"]{
  width: 100px;
  background-color: slateblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-bottom: none;
  


}
.container input[type="submit"]:hover{
  background-color: darkslateblue;
  transition: all 0.3s ease-in-out;
  border-bottom: none;

}
.container input[type="submit"]:not(:focus){
  border-bottom: none;
} 

.container input:focus{
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid darkslateblue;
}

.container input:not(:focus){
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid gray;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Em telas pequenas, uma coluna */
    text-align: center;
    margin: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  .container label {
    margin: 0 0 5px 0;

  }

  h1 {
    font-size: 1.5rem;
    margin: 1rem auto;
    transition: all 0.5s ease-in-out;
  }
}