
.container {
  max-width: 800px;
  width: 90%;
  margin: 1rem auto 1rem;
  line-height: 1.5rem;
  background-color: rgba(245, 255, 255, 0.705);
  border-radius: 6px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.container h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: center;
}

.container h1{
  margin: auto auto 2rem;
  color: #1d1d1d;
  line-height: 2rem;
}

.container input{
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 3px solid slategray;
  border-radius: 2.5px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  transition: all 0.3s ease;
}

.container input:hover, input:focus {
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid darkslateblue;
  transition: all 0.3s ease;
}


.container input::file-selector-button{
  border: none;
  color: white;
  border-radius: 2px;
  padding: 0.5rem;
  background-color: slategray;
  transition: all 0.5s ease;
}


.container input::file-selector-button:hover, input::file-selector-button:focus{
  background-color: slateblue;
  transition: all 0.5s ease;
}


.container input::placeholder{
  color: slategray;
  transition: all 0.5s ease;
}


.container label {
  font-family: sans-serif;
  padding: 0.5rem 0 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #1d1d1d;
  display: block;
}

.container p {  
  font-family: sans-serif;
  font-size: 17px;
  color: black;
  text-align: justify;
}


.container input[type="text"], input[type="email"], input[type="tel"]{
  cursor: text;
}



.container input[type="checkbox"]{
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.container .parent {
    display: grid;
    padding: 0.5rem 0.5rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.container input[type="submit"]{
  width:fit-content;
  background-color: slateblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-bottom: none;
  float: right;
}

.container input[type="submit"]:hover{
  background-color: darkslateblue;
  transition: all 0.3s ease-in-out;
  border: none;

}

.container input[type="reset"]{
  width: fit-content;
  background-color: slategray;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  float: left;
}

.container input[type="reset"]:hover{
  background-color: #404040;
}

/* Estilos para os grupos de checkbox */
.checkbox-group {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 1rem;

}

.checkbox-item {
  display: flex;
}

.checkbox-item input[type="checkbox"] {
  width: auto;
  margin: 0 1.2rem;

}

.checkbox-item label {
  cursor: pointer;
}


@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr; /* Em telas pequenas, uma coluna */
    text-align: justify;
    margin: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
    margin-bottom: 2rem;
    padding: 1.5rem;
    line-height: normal;
  }


  .container h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .container h3 {
    font-size: 2.75rem;
    line-height: 3rem;
  }


  .container input {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .container input::file-selector-button{
    display: flex;
  }

  .container input[type="submit"] {
    width: 100%;
  }

  .container input[type="reset"]  {
    width: 100%;
  }

  .container p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .container label{
    height: fit-content;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
}