*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(45deg, 
    #CCBEF9, 
    #6A8AEC, 
    #1F4CE0, 
    #355FE3, 
    #6A8AEC
  );
  background-size: 400% 400%;
  animation: gradientFlow 12s linear infinite;
}

@keyframes gradientFlow {
  0%, 100%  {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}